body{
    font-family: 'VT323', monospace;
}

/*PARTE DE INTRUCCIONES*/
.letra_instrucciones{
    text-align: center;
    text-align: left;
}

/*PARTE DE MENÚ PRINCIPAL*/
#titulo_principal{
    font-size: 45px;
    line-height: 1;
}

/*PARTE DE ACERCA DE*/
.fondo_info{
    background-image: url('../imagenes/moon1.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
}
#contexto{
    font-size: 16px;
    color: rgb(255, 255, 255);
    text-align: justify;
    line-height: 1.2;
}
.info_titulo{
    font-size: 40px;
    color: teal;
    font-weight: 300;
    padding-top: 5px;
}
.info_figura_contenido{
    text-align: center;
    font-size: 18px;
    color: rgb(58, 209, 71);
}

/*PARTE DEL MAPA DE JUEGO*/
#boton_jugar{
    margin-top: 25%;
    margin-bottom: 25%;
    margin-left: 45%;
    margin-right: 45%;
}
/*Galaxy S5 V 360x640 --> Default */
.square{
    height: 48px;
    width: 48px;
    background-image: url('../imagenes/map_earth.png');
}

.fondo_index{
    background-image: url('../imagenes/stretched-1920-1080-572870.jpg');
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

#padre_contenedor_juego{
    background-color: dimgrey;
}

#componentes_juego{
    background-color: rgba(52,58,64);;
}

#contenedor_juego{
    background-color: dimgrey;
    flex-wrap: wrap;
    background-repeat: round;
    justify-content: space-around;
    margin: 0;
    height: 240px;
    width: 240px;
}

.contenedor_panel{
    height: 150px;
    width: 90px;
    text-align: center;
}

#contenedor_flechas{
    height: 150px;
    width: 90px;
    text-align: center;
}

.oculto{
    display: none;
}
.visible{
    display: block;
}

.flechas{
    width: 1em;
    height: 1em;
    fill: currentColor;
    fill-rule: evenodd;
}

.flechas_side{
    display: none;
}

.alivio{
    color: royalblue;
}

.alerta{
    color: orangered;
}

@media only screen and (min-width: 557px){
    .square{
        height: 50px;
        width: 50px;
    }
    #contenedor_juego{
        height: 250px;
        width: 250px;
    }
    .flechas_side{
        display: block;
    }
}

/*Galaxy S5 H 640x360*/
@media only screen and (min-width:640px){
    .square{
        height: 65px;
        width: 65px;
    }
    #contenedor_juego{
        height: 325px;
        width: 325;
    }
}


/*No piden, borrar, configurarlo o hacer responsive con boostrap*/
@media only screen and (min-width: 768px){
    .square{
        height: 80px;
        width: 80px;
    }
    #contenedor_juego{
        height: 400px;
        width: 400px;
    }
    .contenedor_panel{
        width: 100%;
    }
    #botones_panel{
        width: 150px;
        height: 100px;
    }
}

/*iPad pro V 1024x1366*/
@media only screen and (min-width: 992px){
    /*MENÚ PRINCIPAL*/
    #titulo_principal{
        font-size: 100px;
    }
    .menu_opciones{
        font-size: 60px;
    }
    .square{
        height: 95px;
        width: 95px;
    }
    #contenedor_juego{
        height: 475px;
        width: 475px;
    }
    #botones_panel{
        width: 200px;
        height: 150px;
    }
    /*PARTE DE ACERCA DE*/
    .fondo_info{
        background-image: url('../imagenes/moon1.jpg');
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
        background-repeat: no-repeat;
    }
    .info_titulo{
        font-size: 70px;
        color: teal;
        font-weight: 300;
        padding-top: 10px;
    }
    #contexto{
        font-size: 40px;
        color: rgb(255, 255, 255);
        text-align: justify;
        line-height: 1.5;
    }
    .info_figura_contenido{
        text-align: center;
        font-size: 42px;
        color: rgb(58, 209, 71);
    }
    #butMenu{
        font-size: 50px;
    }
}
/*iPad pro H 1366x1024*/
@media only screen and (min-width: 1200px){
    .square{
        height: 99px;
        width: 99px;
    }
    #contenedor_juego{
        height: 495px;
        width: 495px;
    }
    #botones_panel{
        width: 200px;
        height: 150px;
    }
    /*PARTE DE ACERCA DE*/
    .fondo_info{
        background-image: url('../imagenes/moon1.jpg');
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
        background-repeat: no-repeat;
    }
    .info_titulo{
        font-size: 65px;
        color: teal;
        font-weight: 300;
        padding-top: 10px;
    }
    #contexto{
        font-size: 40px;
        color: rgb(255, 255, 255);
        text-align: justify;
        line-height: 1.5;
    }
    .info_figura_contenido{
        text-align: center;
        font-size: 42px;
        color: rgb(58, 209, 71);
    }
    #butMenu{
        font-size: 50px;
    }
}


/*#componentes_juego{
    background-color: rgba(87, 95, 90, 0.829);
    width: 500px;
	height: 60px;
    color: white;
    position: absolute;
	border-radius: 5px;
	display: flex;
	justify-content: space-around;
	align-items: center;
}*/
#profile_robot_name{
    font-size: 18px;
}