body{
    font-family: 'VT323', monospace;
}

/*PARTE DE MAIN DEL JUEGO*/
.letra_botones{
    font-family: 'VT323', monospace;
}
.figura_contenido{
    text-align: center;
    font-family: 'VT323', monospace;
    font-size: 22px;
}

/*PARTE DE INTRUCCIONES*/
.letra_instrucciones{
    text-align: center;
    font-family: 'VT323', monospace;
    text-align: left;
}

/*PARTE DE MENÚ PRINCIPAL*/
#titulo_principal{
    font-family: 'VT323', monospace;
    font-size: 60px;
}
.titulo{
    font-size: 45px;
}

/*PARTE DE ACERCA DE*/
.info_letra{
    font-family: 'VT323', monospace;
    font-size: 18px;
}
.info_titulo{
    font-size: 45px;
}
.info_figura_contenido{
    text-align: center;
    font-size: 22px;
}

#boton_jugar{
    margin-top: 25%;
    margin-bottom: 25%;
    margin-left: 45%;
    margin-right: 45%;
}

/*PARTE DEL MAPA DE JUEGO*/
.square:before{
    content: "";
    display: block;
    padding-top: 100%;  /* initial ratio of 1:1*/
}

#contenedor_juego{
    background-color: gray;
    background-image: url('../imagenes/map_earth.png');
}